@using System.Text;

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>
<head>
    @{
        StringBuilder builder = new StringBuilder();
        foreach( string tag in Model.Page.Tags )
        {
            builder.Append( tag + ", " );
        }

        if( builder.ToString().Length > 0 )
        {
            @:<meta name="keywords" content="@(builder.ToString())" />
        }

        if( Model.Page.Bag.ContainsKey( "description" ) )
        {
            @:<meta name="description" content="@(Model.Page.Bag["description"])"/>
        }
    }
    <meta content="en-au" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@Model.Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.4/styles/default.min.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <style type="text/css">
        #site-title a,
        #site-description,
        #site-description a {
            color: #30ed1e;
        }
    </style>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #424242;
        }
    </style>
</head>
