---
layout : layout
---

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

@{
    object tagName = Model.Page.Bag["tag"];
}

<div>
    <h1>Tag: @tagName</h1>
    <ul>
        @{
            foreach( var cat in @Model.Site.Tags )
            {
                if( cat.Name.Equals( tagName ) )
                {
                    foreach( var post in cat.Posts )
                    {
                        @:
                        <li><a href="@post.Url">@post.Title</a></li>
                    }
                }
            }
        }
    </ul>
</div>
